* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.btn-secondary {
  color: #fff !important;
  -webkit-backdrop-filter: #8BC53F !important;
          backdrop-filter: #8BC53F !important;
}

.ante-header {
  background-color: #684286 !important;
  width: 100%;
}

.redes-sociais a {
  padding-left: 15px;
}

.nav {
  display: flex;
  align-items: center;
  height: 90px;
}
.nav .nav-link {
  font-size: 1.2rem !important;
  color: #000;
  font-weight: 400;
}
.nav .nav-link:hover {
  color: #4F187B;
}

.banner-principal {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  position: relative;
  width: 100%;
  height: 666px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-principal .galeria {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
.banner-principal .foto {
  position: absolute;
  -webkit-animation: animacao infinite 25s;
          animation: animacao infinite 25s;
  opacity: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner-principal .text-banner {
  position: relative;
  z-index: 10;
}
.banner-principal .action-banner {
  position: relative;
  z-index: 10;
}
.banner-principal .action-banner a {
  min-width: 226px;
  max-width: 300px;
}

@-webkit-keyframes animacao {
  25% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  50% {
    opacity: 0;
  }
}

@keyframes animacao {
  25% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  50% {
    opacity: 0;
  }
}
.foto:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.foto:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.foto:nth-child(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.foto:nth-child(4) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.foto:nth-child(5) {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

.cards {
  width: 100%;
  position: absolute;
  top: 80%;
}
.cards .card-banner {
  max-width: 100% !important;
}
.cards .card-banner:hover {
  transform: scale(1.1);
}
.cards .card-footer {
  border-top: none;
  background-color: #8bc441;
}
.cards .card-footer a {
  color: #fff;
  text-decoration: none;
}

.link {
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border: #8bc441 1px solid;
  padding: 20px;
  max-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: all 0.3s;
}
.link a {
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
  font-size: 0.85rem;
}
.link a img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 100%;
  height: 70%;
}

.link:hover {
  transform: scale(1.1);
}

.services {
  margin-top: 350px;
}

.card {
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.card-img-overlay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-mid {
  max-width: 432px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-mid {
  border-radius: 20px 0;
  max-width: 700px;
  max-height: 466px;
}
.card-img-mid img {
  border-radius: 20px 0;
  width: 100%;
}

.qualidades {
  width: 100%;
  background-color: rgba(225, 222, 222, 0.54);
  padding: 30px;
}
.qualidades .patrocinios {
  background-color: #fff;
  border-radius: 20px;
  width: 200px;
  height: 200px;
}

.accordion .accordion-item {
  margin-bottom: 12px;
  border-radius: 15px;
}
.accordion .accordion-item .accordion-button {
  background: rgba(139, 196, 65, 0.4);
  border: 2px solid #8bc441;
  border-radius: 15px;
}
.accordion .accordion-item .accordion-button:focus {
  border-color: 1px solid #8bc441 !important;
  box-shadow: none;
}
.accordion .accordion-item .accordion-button:not(.collapsed) {
  color: #684386;
}
.accordion .accordion-item .accordion-button:not(.collapsed) .accordion-button:not(.collapsed)::after {
  color: #684386;
}
.accordion .accordion-item .accordion-body {
  background: rgba(139, 196, 65, 0.4);
}

.content {
  padding: 20px;
  max-width: 600px;
  height: auto;
  margin-bottom: 100px;
}
.content .imagem1 {
  width: 100%;
  height: 100%;
  background-image: url("../img/genotipagem.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content .imagem2 {
  width: 100%;
  height: 100%;
  background-image: url("../img/verificacao-parentesco.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content .imagem3 {
  width: 100%;
  height: 100%;
  background-image: url("../img/homozigose1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content .imagem4 {
  width: 100%;
  height: 100%;
  background-image: url("../img/betacaseina.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content .imagem5 {
  width: 100%;
  height: 100%;
  background-image: url("../img/aie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content .imagem6 {
  width: 100%;
  height: 100%;
  background-image: url("../img/mormo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: #684286;
  padding: 40px;
}
footer .info {
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.copyright {
  background-color: #4F187B;
}

.banner-principal {
  border: red 2px solid !important;
}

.services {
  border: red 2px solid !important;
}/*# sourceMappingURL=style.css.map */